# OSX
#
.DS_Store

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Testing
/coverage

# Temporary files
*.log
*.tmp
*.temp
